NODE_ENV=development
PORT=3000
GEMINI_API_KEY=
DATABASE_URL=
JWT_SECRET=
OWNER_OPEN_ID=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
OPENAI_API_BASE=
BUILT_IN_FORGE_API_URL=
BUILT_IN_FORGE_API_KEY=
VITE_APP_ID=
